<div class="setting-element-container  scrollbar-default">
    <h3 class="header-setting-element">Setting</h3>
    <!--<div class="container-style-manipulated">-->
        <!--<button class="btn btn-info" type="submit" ng-click="vm.saveStyle()">Save changes</button>-->
    <!--</div>-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" class="collapsed" role="button" data-toggle="collapse"
                 data-parent="#accordion"
                 href="#collapseElement" aria-expanded="false" aria-controls="collapseElement">
                <h4 class="panel-title">
                    Element
                </h4>
            </div>
            <div id="collapseElement" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="font-color">
                        <div class="row">
                            <p class="col-sm-6">Delete:</p>
                            <button class="col-sm-6 btn btn-xs" ng-click="vm.deleteElement()" type="button">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">
                    Container
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="size-block">
                        <h4>Size:</h4>
                        <div class="element-margin-block">
                            <div class="row">
                                <label class="label-margin col-sm-6" for="width">Width: </label>
                                <input id="width" type="number" class="col-sm-6"
                                       ng-model="vm.columnStyle['width']">
                            </div>
                            <div class="row">
                                <label class="label-margin col-sm-6" for="height">Height:</label>
                                <input id="height" type="number" class="col-sm-6"
                                       ng-model="vm.rowStyle['height']">
                            </div>
                        </div>
                    </div>
                    <div class="margin-block">
                        <h4>Margin:</h4>
                        <div class="element-margin-block">
                            <div class="row">
                                <label class="label-margin col-sm-6" for="left-margin">Left</label>
                                <input id="left-margin" type="number" class="col-sm-6"
                                       ng-model="vm.style['marginLeft']">
                            </div>
                            <div class="row">
                                <label class="label-margin col-sm-6" for="top-margin">Top</label>
                                <input id="top-margin" type="number" class="col-sm-6"
                                       ng-model="vm.style['marginTop']">
                            </div>
                            <div class="row">
                                <label class="label-margin col-sm-6" for="right-margin">Right</label>
                                <input id="right-margin" type="number" class="col-sm-6"
                                       ng-model="vm.style['marginRight']">
                            </div>
                            <div class="row">
                                <label class="label-margin col-sm-6" for="bottom-margin">Bottom</label>
                                <input id="bottom-margin" type="number" class="col-sm-6"
                                       ng-model="vm.style['marginBottom']">
                            </div>
                        </div>
                    </div>
                    <div class="padding-block">
                        <h4>Padding:</h4>
                        <div class="element-padding-block">
                            <div class="row">
                                <label class="label-padding col-sm-6" for="left-padding">Left</label>
                                <input id="left-padding" type="number" class="col-sm-6"
                                       ng-model="vm.style['paddingLeft']">
                            </div>
                            <div class="row">
                                <label class="label-padding col-sm-6" for="top-padding">Top</label>
                                <input id="top-padding" type="number" class="col-sm-6"
                                       ng-model="vm.style['paddingTop']">
                            </div>
                            <div class="row">
                                <label class="label-padding col-sm-6" for="right-padding">Right</label>
                                <input id="right-padding" type="number" class="col-sm-6"
                                       ng-model="vm.style['paddingRight']">
                            </div>
                            <div class="row">
                                <label class="label-padding col-sm-6" for="bottom-padding">Bottom</label>
                                <input id="bottom-padding" type="number" class="col-sm-6"
                                       ng-model="vm.style['paddingBottom']">
                            </div>
                        </div>
                    </div>
                    <div class="border-block">
                        <h4>Border:</h4>
                        <div class="element-border-block">
                            <div class="row">
                                <label class="col-sm-offset-3 col-sm-3">Width</label>
                                <label class="col-sm-4">Color</label>
                                <label class="col-sm-2">Style</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="btn btn-border" ng-click="vm.switchBorder('top')">
                                        <span class="top-border border-span"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <select ng-options="bw for bw in vm.elements.borderWidth"
                                            ng-init="vm.style['borderTopWidth'] = vm.elements.borderWidth[0]"
                                            ng-model="vm.style['borderTopWidth']"></select>
                                </div>
                                <label class="col-sm-4">
                                    <input class="btn col-sm-12"
                                           colorpicker
                                           ng-model="vm.style['borderTopColor']"
                                           type="text" colorpicker-position="bottom">
                                    </input>
                                </label>
                                <div class="col-sm-2">
                                    <select ng-options="bs for bs in vm.elements.borderStyle"
                                            ng-init="vm.style['borderTopStyle'] = vm.elements.borderStyle[0]"
                                            ng-model="vm.style['borderTopStyle']"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="btn btn-border" ng-click="vm.switchBorder('right')">
                                        <span class="right-border border-span"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <select ng-options="bw for bw in vm.elements.borderWidth"
                                            ng-init="vm.style['borderRightWidth'] = vm.elements.borderWidth[0]"
                                            ng-model="vm.style['borderRightWidth']"></select>
                                </div>
                                <label class="col-sm-4">
                                    <input class="btn col-sm-12"
                                           colorpicker
                                           ng-model="vm.style['borderRightColor']"
                                           type="text" colorpicker-position="bottom">
                                    </input>
                                </label>
                                <div class="col-sm-2">
                                    <select ng-options="bs for bs in vm.elements.borderStyle"
                                            ng-init="vm.style['borderRightStyle'] = vm.elements.borderStyle[0]"
                                            ng-model="vm.style['borderRightStyle']"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div  class="btn btn-border" ng-click="vm.switchBorder('bottom')">
                                        <span class="bottom-border border-span"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <select ng-options="bw for bw in vm.elements.borderWidth"
                                            ng-init="vm.style['borderBottomWidth'] = vm.elements.borderWidth[0]"
                                            ng-model="vm.style['borderBottomWidth']"></select>
                                </div>
                                <label class="col-sm-4">
                                    <input class="btn col-sm-12"
                                           colorpicker
                                           ng-model="vm.style['borderBottomColor']"
                                           type="text" colorpicker-position="bottom">
                                    </input>
                                </label>
                                <div class="col-sm-2">
                                    <select ng-options="bs for bs in vm.elements.borderStyle"
                                            ng-init="vm.style['borderBottomStyle'] = vm.elements.borderStyle[0]"
                                            ng-model="vm.style['borderBottomStyle']"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div  class="btn btn-border"  ng-click="vm.switchBorder('left')">
                                        <span class="left-border border-span"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <select ng-options="bw for bw in vm.elements.borderWidth"
                                            ng-init="vm.style['borderLeftWidth'] = vm.elements.borderWidth[0]"
                                            ng-model="vm.style['borderLeftWidth']"></select>
                                </div>
                                <label class="col-sm-4">
                                    <input class="btn col-sm-12"
                                           colorpicker
                                           ng-model="vm.style['borderLeftColor']"
                                           type="text" colorpicker-position="bottom">
                                    </input>
                                </label>
                                <div class="col-sm-2">
                                    <select ng-options="bs for bs in vm.elements.borderStyle"
                                            ng-init="vm.style['borderLeftStyle'] = vm.elements.borderStyle[0]"
                                            ng-model="vm.style['borderLeftStyle']"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="background">
                        <div class="row">
                            <label class="col-sm-6">Background color</label>
                            <button class="col-sm-6 btn btn-xs" ng-style="{'background': vm.style['background-color']}"
                                    colorpicker type="button" colorpicker-position="left"
                                    ng-model="vm.style['backgroundColor']">Change
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo" class="collapsed" role="button" data-toggle="collapse"
                 data-parent="#accordion"
                 href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="panel-title">
                    Font
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="font-align-block">
                        <h4>Font-align:</h4>
                        <div class="row">
                            <label class="radio-inline" ng-repeat="item in vm.elements.textAlign">
                                <input type="radio" ng-model="vm.style['textAlign']" ng-value="item"
                                       name="inlineRadioOptions" id="inlineRadio1"> {{item}}
                            </label>
                        </div>
                    </div>
                    <div class="font-color">
                        <div class="row">
                            <label class="col-sm-6">Color:</label>
                            <input class="col-sm-6 btn btn-xs" style="background: {{vm.style['color']}}" colorpicker
                                   type="text" colorpicker-position="bottom" ng-model="vm.style['color']">
                            </input>
                        </div>
                    </div>
                    <div class="font-size-block">
                        <div class="row">
                            <label class="col-sm-6" for="font-size">Font-size</label>
                            <input type="number" class="col-sm-6" id="font-size"
                                   ng-model="vm.style['fontSize']">
                        </div>
                    </div>
                    <div class="font-weight-block">
                        <div class="row">
                            <label class="col-sm-6">Font-weight</label>
                            <button type="button" class="btn btn-default" aria-label="Left Align"
                                    ng-click="vm.style['fontWeight'] === 'bold'? vm.style['fontWeight'] = 'normal': vm.style['fontWeight'] = 'bold'"
                                    ng-class="vm.style['fontWeight'] === 'bold'? 'active': ''">
                                <span class="glyphicon glyphicon glyphicon-bold" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align"
                                    ng-click="vm.style['fontStyle'] === 'italic'? vm.style['fontStyle'] = 'normal': vm.style['fontStyle'] = 'italic'"
                                    ng-class="vm.style['fontStyle'] === 'italic'? 'active': ''">
                                <span class="glyphicon glyphicon glyphicon-italic" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>