<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Select Table</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <label>Row Table</label>
                    <input type="number" class="form-control" placeholder="row"  ng-model="vm.table.row">
                </div>
                <div class="col-sm-6">
                    <label>Column Table</label>
                    <input type="number" class="form-control" placeholder="column"  ng-model="vm.table.column">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="vm.addTable()"
                    ng-disabled="!vm.table.row || !vm.table.column">Create
            </button>
        </div>
    </div>
</div>
