<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Show Report</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-9">Report name:</div>
                <div class="col-md-3">Report format:</div>
                <div class="col-md-9">
                    <input type="text" ng-model="vm.saveReportObj.reportName" class="form-control">
                </div>
                <div class="col-md-3">
                    <!--<input type="text" ng-model="vm.fileName" class="form-control">-->
                    <select class="form-control" ng-model="vm.saveReportObj.reportFormat"
                            ng-init="vm.saveReportObj.reportFormat = vm.reportFormatType[0]"
                            ng-options="type for type in vm.reportFormatType">
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button"  class="btn btn-primary" ng-click="vm.showReports()">Show Report</button>
            <!--/ng-disabled="!vm.saveReportObj.reportName"/-->
        </div>
    </div>
</div>